{% load static %}
<html>
    <head>
        {% block head_content %}{% endblock %}
       <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d31811.295860743234!2d-74.12214413230345!3d4.698268481592234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d4.7174827!2d-74.1122391!4m3!3m2!1d4.6787437999999995!2d-74.0927839!5e0!3m2!1ses!2sco!4v1626306302386!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                    <a href="https://api.whatsapp.com/send?phone=0123456789">Envíanos un mensaje de WhatsApp</a>
                </div>
            </div>
        </div>
        
    </body>
</html>
