{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/05d8042143.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>OLIVET</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
        <a class="navbar-brand" href="{%url 'home'%}"><img src="{% static 'assets/LOGO_OLIVET.jpg' %}" height="60" alt="Logo"></a>
                </div>
                <div class="enlaces-header">
                    <a href="{% url 'nosotros' %}">Nosotros</a>
                    <a href="#servicios">Servicios</a>
                    <a href="#medicos">Médicos</a>
                    <a href="#comentario">¡Contáctanos!</a>
              
              <a href="https://api.whatsapp.com/send?phone=3504867779" style="color: red;">Urgencias 24h <i class="fas fa-heartbeat "></i> </a>

                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedor">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1>Clínica Veterinaria Olivet</h1>
                    <p>24/7 al servicio y bienestar de tu mascota </p>
                    <a href="https://api.whatsapp.com/send?phone=3219045657"><img src="{% static 'assets/urgencias.png' %}" alt="Urgencias"></a>
                </section>
    				<img src="{% static 'assets/panel.jpg' %}" alt="">

            </section>
        </div>
    </header>
    <section class="about-us">
        <div class="contenedor1">  
            <h2 class="titulo" id="servicios">Nuestros servicios</h2>
            <div class="contenedor-service"> 
              <div class="items-service"> 
              <i class="fas fa-notes-medical"></i>
              <h3>Consulta médica y especializada</h3>
              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, incidunt. Quasi expedita ipsa odit cumque exercitationem.
                 itas odit earum nobiscommodi ullam!</p>
              <a href="" class=""> Read more</a>
            </div>  
            <div class="items-service"> 
              <i class="fas fa-pills"></i>
              <h3>Hospitalización</h3>
              <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi libero eveniet officia ad ducimus eius incidunt officiis praesentium maiores delectus, sit,
                  quam molestias. Quasi fugit fuga error et!</p>
              <a href="" class=""> Read more</a>
            </div>  
         
            <div class="items-service"> 
              <i class="fas fa-syringe"></i>
              <h3>Laboratorio Clínico</h3>
              <p> Lorem ipsum dolor sit, amet consesaepeaccusamus molestiae dolorum rem vitae. Voluptatibus quo dolorum fugit deleniti. Qui, non ex veniam reiciendis soluta repellendus magnam eligendi. Veritatis earum 
                eligendi laborum! Voluptas, odit a.</p>
              <a href="" class=""> Reaore</a>
            </div>
            <div class="items-service"> 
              <i class="fas fa-x-ray"></i>
              <h3>Rayos x y Ecografia</h3>
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repellat, at expedita maxime earum autem
                 nam ad dolorem. Ab ea ullam, tenetur corporis doloribus distinctio optio quod.</p>
              <a href="" class=""> Read more</a>
              </div>
              <div class="items-service"> 
              <i class="fas fa-heartbeat"></i>
              <h3>Cirugía</h3>
              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quis aliquid, saepe alias neque perferendis in dolor
                 laboriosam nam autem explicabo sunt distinctio est! Nisi doloribus placeat enim nihil!</p>
              <a href="" class=""> Read more</a>
              </div>
              <div class="items-service"> 
              <i class="fas fa-bath"></i>
              <h3>Baño y peluquería</h3>
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eius harum nam error,
                 rem tempore repellat! Voluptate, dolores! Cupiditate, unde.</p>
              <a href="" class=""> Read more</a>
              </div>
          </div>
        </div>
    </section>
    <section class="medical contenedor" id="medicos">
        <section class="textos-medical" >
            <h1 >Equipo de Trabajo</h1>
            <p>En olivet contamos con un equipo de profesionales capacitados llenos de compromiso y amor</p>
            <a href="{% url 'nosotros' %}#">Learn more</a>
        </section>
        <img class="dog" src="{% static 'assets/medico2.jpg' %}" alt="">
    </section>
    <div class="contenedor-s"> 
        <h2>Clientes felices....</h2>
        <div class="slider-contenedor">

           
         <div class="slider-test">
          <p>Lorena sum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
            data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
            data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
            data-aos="zoom-in-left"</p>  
            
          <h3> Cindy </h3> 
     </div>
     <div class="slider-test">
                    
         <p>Lorem ipsum dolor ametctetur adipisicing elit. Aut, id.</p>
                        data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
          data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
        data-aos="zoom-in-left"</p>  
   
          <h3> Cindy </h3> 
     </div>
     <div class="slider-test">
        <p>Lorenzoo ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
       data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
         data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
        data-aos="zoom-in-left"</p>  
  
        <h3> Cindy </h3> 
     </div>
        <div class="slider-test">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
            data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
                data-aos="zoom-in-left" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
            data-aos="zoom-in-left"</p> 
      
        <h3> Cindy </h3> 
    </div>

</div>
    </div>
    <section class="contenedor1" id="comentario" style="display: flex;">
        <form action="/#comentario" class="form" method="post">
            <h2 class="form-title">Contáctanos!</h2>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}

            {% endif %}
            {% csrf_token %}
            <div class="form-container">
             <div class="form-group">
                <input type="text" id="name" name="nombre" class="form-input" placeholder=" ">
                <label for="name" class="form-label">Nombre </label>
                <span class="form-line"></span>
            </div>
            <div class="form-group">
                <input type="email" id="correo" name="correo" class="form-input" placeholder=" " required oninvalid="this.setCustomValidity('Por favor, ingresa un coreo válido')" oninput="setCustomValidity('')">
                <label for="name" class="form-label"> correo </label>
                <span class="form-line"></span>
            </div>
            <div class="form-group">
            <textarea id="comentario" name="comentario" style="text-align: left;" rows="4" cols="30" required oninvalid="this.setCustomValidity('Por favor, ingresa tu consulta o comentario')" oninput="setCustomValidity('')"></textarea>
            
            </div>  
            <input type="submit" class="form-submit" value="Enviar">
        </div>

        </form>
        <div style="padding-left: 5%;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.1310106340749!2d-74.09356647084233!3d4.678580536423978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b11be65b5b5%3A0x850b25f02d0ddbe!2sCra.%2069i%20%2368-17%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1654617598659!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <footer>
        <div class="partFooter">
            <img src="" alt="">
        </div>
        <div class="partFooter">
            <h4>Servicios</h4>
            <ul>
                <li>Servicio 1</li>
                <li>Servicio 1</li>
                <li>Servicio 1</li>
                <li>Servicio 1</li>
                <li>Servicio 1</li>

            </ul>
           
           
        </div>
        <div class="partFooter">
            <h4>Encuéntranos</h4>
            <a href="#">clinicaveterinariaolivet@gmail.com</a>
            <a href="#">350 4867779</a>
            <a href="">Cra. 69i #68-17, Bogotá</a>
         
        </div>
        <div class="partFooter">
            <h4>Redes sociales</h4>
            <div class="social-media" style="display: flex ; margin-left: 90px;">
                    <a href="https://www.facebook.com/clinicaveterinariaolivet"><i class="fab fa-facebook-f" > </i></a>
                    <a href="https://www.instagram.com/clinicaveterinariaolivet/"><i class="fab fa-instagram"></i></a>
                   
            </div>
        </div>
    </footer>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    
</body>

</html>